.content {
}

table {
  margin-inline: auto;
}

.contraintes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-create {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-create fieldset {
  width: 30%;
}

.contraintes select{
  margin-right: 5px;
}

.form-style-5{
  width: 80%;
  padding: 10px 20px;
  margin: 10px auto;
  border-radius: 8px;
}
.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  border-radius: 2.75rem;
  border: 0;
  color: var(--electric-violet);
  background-color: color-mix(in srgb, var(--electric-violet) 5%, transparent);
  border: none;
  font-size: 15px;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
  background: color-mix(in srgb, var(--electric-violet) 15%, transparent)
}
.form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.form-style-5 .number {
  background: var(--bright-blue);
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
  display: flex;
  border-radius: 2.75rem;
  border: 0;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  color: var(--hot-red);
  background-color: color-mix(in srgb, var(--hot-red) 5%, transparent);
  font-size: 18px;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
  background: color-mix(in srgb, var(--hot-red) 15%, transparent);
}

#unsat{
  color: var(--hot-red);
  background: color-mix(in srgb, var(--hot-red) 5%, transparent);
}

