content {
  display: grid;
  justify-content: center;
  align-items: center;
  box-sizing: inherit;
}

table {
  /*margin-inline: auto;*/
}

ul {
  /*margin-inline: auto;*/
  display: inline-list-item;
  min-width: 300px;
  max-width: 500px;
  width: auto;
}

li {
  max-width: 500px;
}

table, td {
  text-align: center;
  border-collapse: collapse;
}

td.clicked {
  background-color: green;
}

td.double-clicked {
  background-color: red;
}

/* computer-puzzle.component.css */
.top-table {
  width: 100%; /* Utilise la largeur complète du conteneur parent */
  border-collapse: collapse; /* Fusionne les bordures des cellules */
}

.js-item {
  text-align: center; /* Centre le texte dans la cellule */
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
}

.vertical-text-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap; /* pour éviter le débordement du texte */
  width: 30px;
  height: 90px;
}

.horizontal-text-item {
  width: 80px;
  height: 30px;
}

.title-horizontal {
  width: 90px;
  height: 150px;
}

.title-vertical {
  width: 150px;
  height: 50px;
}

.js-item, .title-vertical, .title-horizontal {
  border-radius: 3rem;
  border-width: 2px;
  border-style: solid;
  border-image: var(--red-to-pink-to-purple-vertical-gradient) 1;
}

