.content {
  align-items: center;
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin-inline: auto;
  grid-gap: 20px 20px;
  grid-auto-rows: minmax(auto, auto);
}

table {
  margin-inline: auto;
  align-self: center;
  justify-self: center;
}

.evidences {
  align-self: center;
  justify-self: center;
}

ul {
  min-width: 400px;
}


table, td {
  text-align: center;
  /*border-collapse: collapse;*/
}

td.clicked {
  background-color: red;
}

td.clicked-twice {
  background-color: green;
}

td.annule {
  background-color: white;
}

td.propagate {
  background-color: orange;
}

/* computer-puzzle.component.css */
.top-table {
  width: 100%; /* Utilise la largeur complète du conteneur parent */
  /*border-collapse: collapse; !* Fusionne les bordures des cellules *!*/
}

.js-item {
  text-align: center; /* Centre le texte dans la cellule */
}

.cell {
  width: 30px;
  height: 30px;
  border: 2px solid #ddd;
}

.vertical-text-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap; /* pour éviter le débordement du texte */
  width: 30px;
  height: 90px;
}

.horizontal-text-item {
  width: 80px;
  height: 30px;
}

.title-horizontal {
  width: 90px;
  height: 150px;
}

.title-vertical {
  width: 150px;
  height: 50px;
}

.js-item, .title-vertical, .title-horizontal {
  border-width: 2px;
  border-style: solid;
  border-image: var(--red-to-pink-to-purple-vertical-gradient) 1;
}

.lineThrough {
  text-decoration:line-through;
  text-decoration-color: #bbbbbb;
  color: #bbbbbb;
}
