content {
  display: flex;
}

table {
  margin-inline: auto;
  flex: 3;
}

ul {
  margin-inline: auto;
  overflow-y: auto;
  height: 200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px 20px;
  grid-auto-rows: minmax(auto, auto);
}
