.content {
  align-items: center;
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin-inline: auto;
  grid-gap: 20px 20px;
  grid-auto-rows: minmax(auto, auto);
}

table {
  margin-inline: auto;
  align-self: center;
  justify-self: center;
}

.evidences {
  align-self: center;
  justify-self: center;
}

ul {
  min-width: 400px;
}
