<!-- computer-puzzle.component.html -->
<div class="content">

  <ul>
    <li *ngFor="let evidence of this.evidences; index as i" #parameter (click)="putLineThrough(parameter)"> {{ i+1 }} {{ evidence }} </li>
  </ul>

  <table>
    <tbody>

    <tr>
      <td></td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="6">Processor</td>
          </tr>
          <tr>
            <td *ngFor="let speed of processor"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ speed }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Hard Disk</td>
          </tr>
          <tr>
            <td *ngFor="let capacity of disk"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ capacity }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Price</td>
          </tr>
          <tr>
            <td *ngFor="let price of price"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ price }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Monitor
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let size of monitor">
            <td class="js-item horizontal-text-item">{{ size }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of monitor">
            <td class="cell" *ngFor="let col of processor"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of monitor">
            <td class="cell" *ngFor="let col of disk" [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of monitor">
            <td class="cell" *ngFor="let col of price"
                [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Price
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let p of price">
            <td class="js-item horizontal-text-item">{{ p }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of price">
            <td class="cell" *ngFor="let col of processor"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of price">
            <td class="cell" *ngFor="let col of disk" [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Hard Disk
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let hdd of disk">
            <td class="js-item horizontal-text-item">{{ hdd }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of disk">
            <td class="cell" *ngFor="let col of processor"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    </tbody>
  </table>

</div>
