<!-- movies-puzzle.component.html -->
<div class="content">
  <div *ngIf="start==false">
    <p>Loading ...</p>
  </div>
  <table *ngIf="start">
    <tbody>

    <tr>
      <td></td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="6">Film</td>
          </tr>
          <tr>
            <td *ngFor="let film of films"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ film }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Day</td>
          </tr>
          <tr>
            <td *ngFor="let day of days"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ day }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Time</td>
          </tr>
          <tr>
            <td *ngFor="let time of times"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ time }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Name
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let film of people">
            <td class="js-item horizontal-text-item">{{ film }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of people">
            <td class="cell"
                *ngFor="let col of films"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of people">
            <td class="cell" *ngFor="let col of days"
                [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of people">
            <td class="cell" *ngFor="let col of times"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Time
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let p of times">
            <td class="js-item horizontal-text-item">{{ p }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of times">
            <td class="cell"
                *ngFor="let col of films"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of times">
            <td class="cell" *ngFor="let col of days"
                [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Day
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let day of days">
            <td class="js-item horizontal-text-item">{{ day }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of days">
            <td class="cell"
                *ngFor="let col of films"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col],'clicked-twice': clickedTwice[row + col],'annule' : annule[row + col],'propagate' : propagates[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="evidences">
    <ul>
      <li *ngFor="let evidence of this.evidences; index as i" #parameter
          (click)="putLineThrough(parameter)"> {{ i + 1 }} {{ evidence }}
      </li>
    </ul>
  </div>

</div>

<app-modal-success *ngIf="this.showModalNotSucess" (closeModal)="this.showModalNotSucess = false" header="Puzzle Filmz" content="Incorrect !">  </app-modal-success>


<app-modal-success *ngIf="this.showModalSuccess" (closeModal)="this.showModalSuccess = false" header="Puzzle Filmz" content="Bravo !! Vous avez trouvé la solution au Filmz !">
</app-modal-success>

<div></div>
