<!-- movies-puzzle.component.html -->
<div class="content">

  <ul>
    <li *ngFor="let evidence of this.evidences;" #parameter
        (click)="putLineThrough(parameter)"> {{ evidence }}
    </li>
  </ul>

  <table>
    <tbody>

    <tr>
      <td></td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="6">Shirt</td>
          </tr>
          <tr>
            <td *ngFor="let shirt of shirts"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ shirt }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Name</td>
          </tr>
          <tr>
            <td *ngFor="let name of names"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ name }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Surname</td>
          </tr>
          <tr>
            <td *ngFor="let surname of surnames"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ surname }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Pasta</td>
          </tr>
          <tr>
            <td *ngFor="let pasta of pastas"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ pasta }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Wine</td>
          </tr>
          <tr>
            <td *ngFor="let wine of wines"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ wine }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="top-table">
          <tbody>
          <tr>
            <td class="title-vertical" colspan="5">Age</td>
          </tr>
          <tr>
            <td *ngFor="let age of ages"
                class="js-item vertical-text-item">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  {{ age }}
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    <tr>

      <td>
        <table class="side-table">
          <tbody>
          <tr>
            <td class="title-horizontal" rowspan="6">
              <div class="vertical-text">
                <div class="vertical-text-inner">
                  Women
                </div>
              </div>
            </td>
          </tr>
          <tr *ngFor="let women of womens">
            <td class="js-item horizontal-text-item">{{ women }}</td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell"
                *ngFor="let col of shirts"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell" *ngFor="let col of names"
                [attr.data-x]="col"
                [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>

          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell" *ngFor="let col of surnames"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell" *ngFor="let col of pastas"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell" *ngFor="let col of wines"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

      <td>
        <table class="">
          <tbody>
          <tr *ngFor="let row of womens">
            <td class="cell" *ngFor="let col of ages"
                [attr.data-x]="col" [attr.data-y]="row"
                (click)="cellClicked(row, col)"
                [ngClass]="{'clicked': clickedOnce[row + col], 'double-clicked': clickedTwice[row + col]}">
              <span>&nbsp;</span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>

    </tr>

    </tbody>
  </table>

</div>

<div>

</div>
